<nav class="bb b--light-gray pv4 tc" aria-label="Main">
  <a class="link blue hover-mid-gray mh2 pv1" href="/light.html">About GAC</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/faq/light.html">FAQ</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/groups/light.html">Support Groups</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/conduct/light.html">Code of Conduct</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/get-involved/light.html">Get Involved</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/resources/light.html">Resources</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="./">Dark Mode</a>
  <!-- <a class="link blue hover-mid-gray mh2 pv1" href="/chapters/light.html">Local Chapters</a> -->
</nav>
