<nav class="bb b--light-gray pv4 tc" aria-label="Main">
  <a class="link blue hover-mid-gray mh2 pv1" href="/">About GAC</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/faq/">FAQ</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/groups/">Support Groups</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/conduct/">Code of Conduct</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/get-involved/">Get Involved</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="/resources/">Resources</a>
  <a class="link blue hover-mid-gray mh2 pv1" href="./light.html">Light Mode</a>
  <!-- <a class="link blue hover-mid-gray mh2 pv1" href="/chapters/">Local Chapters</a> -->
</nav>
